* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

$color-white: #fff;
$color-black: #000;
$gradient-dark: linear-gradient(
  to right,
  rgba(242, 158, 1, 0.991),
  rgba(236, 36, 76, 0.965)
);
$gradient: linear-gradient(
  to right,
  rgba(242, 158, 1, 0.687),
  rgba(236, 36, 76, 0.604)
);
$color-gradient: linear-gradient(
  to right,
  rgba(242, 158, 1, 0.804),
  rgb(236, 36, 76)
);
$hero-font-size: 12px;
$light-gray: #f9f9f9;
$dark-gray: #ebebeb;
$color-orange: orange;
p {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.gradient {
  background: $gradient;
}
.text-color {
  background: $color-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav {
  width: 100vw;
  height: 10vh;
}
.navbarT {
  background-color: rgba(0, 0, 0, 0.948) !important;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row !important;
  background-color: red;
}
.brand {
  margin: 0px 10px;
  color: $color-white;
}
.brand-1 {
  margin-left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-1 i {
  font-size: 30px;
}
.brand i,
.bx-menu {
  color: $color-orange;
}
.nav-menu {
  display: none;
}
.links ul {
  margin: 10px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links ul li {
  margin: 0px 10px;
}
.links ul li a {
  color: $color-white;
  font-size: 11px;
  margin: 1px 5px;
}
.btn-color-top {
  background: $color-orange;
  color: $color-white;
  font-size: 12px;
  padding: 4px 22px;
  font-weight: 500;
}
.header {
  background: linear-gradient(
      to right,
      rgba(12, 11, 11, 0.914),
      rgba(6, 6, 6, 0.38)
    ),
    url("https://images.pexels.com/photos/889996/pexels-photo-889996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
      no-repeat bottom;
  background-size: cover;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
}

.header-title {
  font-size: 40px;
  font-weight: 300;
  margin: 68px 0;
}
.title {
  font-weight: 200;
}
.form-wrapper {
  font-size: $hero-font-size;
  color: $color-white;
  margin: 20px 0;
  padding: 8px 0px 8px 20px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 18px;
}

.form,
.form-group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.form-group input {
  border-radius: 0 !important;
}
.form-group input::placeholder {
  color: $color-white;
}
.form-control-label {
  font-size: 17px;
  font-weight: 200;
  margin: 0px 20px 0px 20px;
}

.btn-h {
  border: none;
  display: flex;
  align-items: center;
  font-size: 15px;
  text-align: start;
  color: $color-white;
}
.btn-h i {
  font-weight: lighter;
  margin-left: 10px;
}
.bx-arrow-back {
  transform: rotate(180deg);
  margin: 0px 8px;
}
.label {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.label::after {
  content: "";
  display: block;
  height: 50px;
  border: 0.01px solid rgba(255, 255, 255, 0.577);
}
.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse !important;
  font-size: $hero-font-size;
  background: rgba(62, 62, 62, 0.239);
  border: none;
  padding: 14px 15px;
  border-radius: none !important;
  color: $color-white;
  font-weight: 200;
}
.hero-about {
  text-align: center;
}
.hero-about p {
  letter-spacing: 1px;
}
.hero-more {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid rgba(128, 128, 128, 0.611);
  border-top: 1px solid rgba(128, 128, 128, 0.585);
  cursor: pointer;
}
.section-about {
  background-color: $light-gray;
  padding: 20px 0;
  width: 100%;
}
.section-about-images {
  padding: 0px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-conf {
  padding: 5px 30px;
}
.section-about-images .card {
  margin: 30px 10px;
  border: none !important;
  background: transparent;
  border-radius: 0 !important;
  text-transform: uppercase;
  width: 16rem;
}
.card-body {
  padding: 10px 0;
}
.card-body p {
  font-size: 10px;
  font-weight: bold;
}
.card-title {
  margin-top: -10px;
  font-weight: bold;
  color: rgb(81, 77, 77);
  font-size: 16px;
  letter-spacing: 0.9px;
}
.card-img-top {
  height: 150px;
}
.section-view {
  /* padding: 10px; */
  background: linear-gradient(
      to right,
      rgba(12, 11, 11, 0.769),
      rgba(6, 6, 6, 0.73),
      rgba(6, 6, 6, 0.73)
    ),
    url("https://images.pexels.com/photos/2030037/pexels-photo-2030037.jpeg")
      no-repeat center;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $color-white;
  border-radius: 8px;
}
.section-view h2 {
  font-weight: 300;
  letter-spacing: 1px;
}
.btn-color {
  background: $gradient-dark;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 1px;
}

.btn-color-top:hover {
  background: $color-orange;
  color: $color-white;
}
.footer {
  padding: 22px 25px;
  min-height: 50vh;
  background-color: $dark-gray;
}
.footer-title {
  font-weight: bold;
}
.socials ul {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}
.copy {
  border-top: 1px solid $color-black;
}
@media screen and (max-width: 768px) {
  .links {
    display: none;
  }
  .nav-menu {
    display: flex;
  }
  .section-about-images {
    display: flex;
    justify-content: center;
  }
}
