* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 100vw !important;
}

p {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.gradient {
  background: linear-gradient(to right, rgba(242, 158, 1, 0.687), rgba(236, 36, 76, 0.604));
}

.text-color {
  background: linear-gradient(to right, rgba(242, 158, 1, 0.804), #ec244c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  width: 100vw;
  height: 10vh;
}

.navbarT {
  background-color: rgba(0, 0, 0, 0.948) !important;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row !important;
  background-color: red;
}

.brand {
  margin: 0px 10px;
  color: #fff;
}

.brand-1 {
  margin-left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-1 i {
  font-size: 30px;
}

.brand i,
.bx-menu {
  color: orange;
}

.nav-menu {
  display: none;
}

.links ul {
  margin: 10px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links ul li {
  margin: 0px 10px;
}

.links ul li a {
  color: #fff;
  font-size: 11px;
  margin: 1px 5px;
}

.btn-color-top {
  background: orange;
  color: #fff;
  font-size: 12px;
  padding: 4px 22px;
  font-weight: 500;
}

.header {
  background: linear-gradient(to right, rgba(12, 11, 11, 0.914), rgba(6, 6, 6, 0.38)), url("https://images.pexels.com/photos/889996/pexels-photo-889996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat bottom;
  background-size: cover;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
  padding: 0px -80px;
}

.header-title {
  font-size: 40px;
  font-weight: 300;
  margin: 68px 0;
}

.title {
  font-weight: 200;
}

.form-wrapper {
  font-size: 12px;
  color: #fff;
  margin: 20px 0;
  padding: 8px 0px 8px 20px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 18px;
}

.form,
.form-group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-group input {
  border-radius: 0 !important;
}

.form-group input::placeholder {
  color: #fff;
}

.form-control-label {
  font-size: 17px;
  font-weight: 200;
  margin: 0px 20px 0px 20px;
}

.btn-header {
  display: flex;
  align-items: center;
  justify-content: right;
}

.btn-h {
  border: none;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 15px;
  text-align: start;
  color: #fff;
}

.btn-h i {
  font-weight: lighter;
  margin-left: 10px;
}

.bx-arrow-back {
  transform: rotate(180deg);
  margin: 0px 8px;
}

.label {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.label::after {
  content: "";
  display: block;
  height: 50px;
  border: 0.01px solid rgba(255, 255, 255, 0.577);
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse !important;
  font-size: 12px;
  background: rgba(62, 62, 62, 0.239);
  border: none;
  padding: 14px 15px;
  border-radius: none !important;
  color: #fff;
  font-weight: 200;
}

.hero-about {
  text-align: center;
}

.hero-about p {
  padding: 0px 70px;
  font-size: 16px;
  font-weight: 200;
}

.hero-more {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid rgba(128, 128, 128, 0.611);
  border-top: 1px solid rgba(128, 128, 128, 0.585);
  cursor: pointer;
}

.section-about {
  background-color: #f9f9f9;
  padding: 45px 0;
  width: 100vw !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  margin-left: -82px !important;
}

.section-about-images,
.about-conf {
  width: 80%;
  margin: 0px auto;
}

.section-about-images {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-conf {
  padding: 5px 30px;
}

.section-about-images .card {
  margin: 0px 4px 65px 4px;
  border: none !important;
  background: transparent;
  border-radius: 0 !important;
  text-transform: uppercase;
  width: 15rem;
}

.card-body {
  padding: 10px 0;
}

.card-body p {
  font-size: 10px;
  font-weight: bold;
}

.card-title {
  margin-top: -10px;
  font-weight: bold;
  color: #514d4d;
  font-size: 16px;
  letter-spacing: 0.9px;
}

.card-img-top {
  height: 150px;
}

.section-view {
  background: linear-gradient(to right, rgba(12, 11, 11, 0.769), rgba(6, 6, 6, 0.73), rgba(6, 6, 6, 0.73)), url("https://images.pexels.com/photos/2030037/pexels-photo-2030037.jpeg") no-repeat center;
  background-size: cover;
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  border-radius: 8px;
}

.section-view h2 {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 42px;
  letter-spacing: 2.2px;
  margin-top: 20px;
}

.section-view p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.btn-color-view {
  background: linear-gradient(to right, rgba(242, 158, 1, 0.991), rgba(236, 36, 76, 0.965));
  border: none;
  padding: 12px 25px;
  font-size: 15px;
  letter-spacing: 1px;
}

.btn-color-view i {
  font-weight: bold;
}

.btn-color-top:hover {
  background: orange;
  color: #fff;
}

.footer {
  padding: 22px 0;
  padding-bottom: 0;
  min-height: 30vh;
  background-color: #ebebeb;
}

.footer-wrap {
  padding: 25px;
}

.footer-title {
  font-weight: bold;
  font-size: 12px;
}

.footer-text {
  font-size: 14px;
  color: darkgray;
}

.footer-text-socials ul {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.footer-text ul li p,
.footer-p p {
  margin: 0px !important;
  font-weight: 500;
  margin: 0px;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.footer-p {
  margin: 0px;
}

.footer-copy {
  border-top: 1px solid rgba(0, 0, 0, 0.187);
  max-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-copy {
  font-size: 12px;
  font-weight: 200;
}

.footer-copy span {
  font-weight: bold;
  margin: 0px 4px;
}

@media screen and (max-width: 768px) {
  .links {
    display: none;
  }

  .header-title {
    font-size: 35px;
  }

  .nav-menu {
    display: flex;
    padding: 0 20px;
    font-size: 20px;
  }

  .form {
    padding: 0px 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .hero-about p {
    padding: 0px 20px;
  }

  .section-about {
    max-width: 100vw !important;
    margin-left: -20px !important;
  }

  .section-about-images {
    width: 100%;
  }

  .about-conf {
    width: 80%;
  }

  .section-about-images .card {
    width: 80%;
    margin-bottom: 10px;
    margin: 0 auto 10px auto;
  }

  .card-img-top {
    height: 200px;
  }

  .section-view h2 {
    letter-spacing: 1px;
    font-size: 35px;
  }

  .section-view p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=styles.css.map */
